// $palabrasElegida : valor;

$colorFondo1 : #84d1ff;
$colorFondo2 : #dcf7ff;
$colorFondo3 : #0f1b35;
$colorFondo4 : #76777c;
$colorFondo5 : #e2e2e2;

$gradiente : linear-gradient(to right, #0f1b35, #dcf7ff);

/*paleta de colores
.color1 {color: #84d1ff;}
.color2 {color: #dcf7ff;}
.color3 {color: #0f1b35;}
.color4 {color: #76777c;}
.color5 {color: #e2e2e2;}*/